div {
    border: 0px solid red;
}



/*@font-face {
    font-family: 'Mon';
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}*/

.wrapper{
    width:100%;
    position:relative;
    left:0;
    top:0;
}

.wrapper2{
    width:100%;
    position:relative;
    left:0;
    bottom:0;
}

.wrapper3{
    position:relative;
    top:0;
    left:0;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.logoImg{
    display:block;
    margin: 0 auto 0 auto;
    max-width:160px;
    width:100%;
    height:auto;
    cursor:pointer;
    text-align:center;
}

.navGrid {
  display:grid;
  grid-template-columns: 17% 9% auto auto auto auto 15% auto;
  font-size:18px;
  font-family: 'Montserrat', sans-serif;
  border: 0px solid green;
  font-weight:bold;
}

.navGrid div{
    position:relative;
}

.navGrid a {
  display: block;
  text-align: center;  
  text-decoration: none;
  color:black;
  position:absolute;
  bottom:21px;
}

.navGrid a:hover {
  color:gray;
  font-weight:bold;

}

.button1{
    width:233px;
    height:50px;
    background-color: orange;
    border:none;
    border-radius: 40px 40px 40px 40px;
    color:white;
    display:block;
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
}

.title1{
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    padding-bottom:50px;
    padding-top:22%;
    color:#2F4858;
    font-weight:bold;
}

.title2{
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color:#2F4858;
    font-weight:bold;
    padding-top:150px;
    padding-bottom:50px;
}

.atbalstitaji{
    background-color:#FFCB66;
}

.logoRip{
    height:60px;
   background-color:#FFCB66;
    -webkit-mask-image: url(https://i.imgur.com/oYFmZNJ.png);
    -webkit-mask-size: 100% auto;
    -webkit-mask-repeat: no-repeat;
}

.logoPadding{
    padding-top:50px;
}

.logo{
    background-color:#365461;
    color:white;
    
}

.logo span{
    font-family: 'Montserrat', sans-serif;
}

.ulLogo{
    background-color:#365461;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
}

.ulLogo4{
    text-align:right;
    margin-right:10%;
}
.text{
    text-align:center;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    margin-right:26.5%;
    margin-left:26.5%;
    margin-top:10.5%;
    margin-bottom:10%;
    color: #2f4858;
    line-height:21.94px;
}

.teksts2{
    padding-left:1px;
}

.inputLauki{
    width:50%;
    position:relative;
    left:25%;
}

input{
    background-color:#C4C4C4;
    border:none;
    border-radius: 5px 5px 5px 5px;
    margin-bottom:1%;
    margin-bottom:15px;
    color:#2F4858;
}

.inputLauks1{
   position:relative;
   width:48.43%;
   height:43px;
   background: rgba(196, 196, 196, 0.4);
}

#inputLauks2{
    height:43px;
    background: rgba(196, 196, 196, 0.4);
}

#inputLauks2, #inputLauks3{
    width:100%;
}

#inputLauks3{
    background: rgba(196, 196, 196, 0.4);
    border:none;
    border-radius: 5px 5px 5px 5px;
    margin-bottom:1%;
    height:300px;
    color:#2F4858;
}

.underInputText{
    color:#2F4858;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:14px;
    line-height:17px;
    color:#2F4858;

}

input[type="text"]{
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    color:#2F4858;
    padding-left:2%;
}

input::placeholder{
    color:#2F4858;
}

textarea{
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    color:#2F4858;
    padding-left:2%;
}
textarea::placeholder{
    color:#2F4858;
}

.submitButton{
    width:182px;
    height:62px;
    background-color: orange;
    border:none;
    border-radius: 40px 40px 40px 40px;
    color:white;
    display:block;
    margin: 0 auto 0 auto;
    margin-top:85px;
    font-size:24px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:150px;
    outline:none;
}

.beigas{
    background-color:#365461;
    color:white;
    font-size:14px;
    line-height:1;
    font-family: 'Montserrat', sans-serif;
}

#video{
    position:relative;
    width:100%;   
}

#playButton{
    position:absolute;
    cursor:pointer;
    width:6%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);           
}

#buttonBackground{
    position:absolute;
    cursor:pointer;
    width:5.7%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
}

.tear1{
    z-index:2;
    position:absolute;   
}

.ripped{
    z-index:2;
    position:absolute;
    width:100%;
    
}
.ripped3{
  bottom:0;
}

.ripped4{
    z-index:2;
    position:absolute;
    width:100%;   
    top:-40px;      
}

.pictureAnda{
    height:100%;
    }

.bildes{
    width:100%;
    position:relative;
}

.row div{
    padding:0;
}

.goldenImg{
    display:block;
    margin: 0 auto 0 auto;
    transform:scale(0.85,0.85);
    height:auto;
    max-width:250px;
    width:100%;
}





.liText{
    font-size:24px;
    padding-bottom:5px;
    font-weight:500;
}

.ulLink{
    line-height:2.1;
}

.ulLink li a{
    text-decoration:none;
    color:white;
}

.atbalstitaji img{
    display:block;
    margin:0 auto 0 auto;
    max-width:200px;
    height:auto;
    width:80%;
}

.lin img{
    max-width:80px;
}

.atbalstitajiTeksts{
    background-color:#FFCB66;
    
}

.atbalstitajiTeksts p{
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    color:darkBlue;
    font-weight:500;
    padding-top:80px;
    color: #2F4858;
    font-weight:bold;
}

#vardsUzvardsInput{
    margin-right:2.5%;
}

.wave1{
    position:absolute;
    left:0;
    top:0;
}

.atbalstitaji div{
    padding-top:75px;
    padding-bottom:75px;
}

.vt{
    margin-left:10%;
}
.pp{
    text-align:right;
    margin-right:10%;
}

.xButton{
    display:none;
    position: absolute;
    right:0;
    z-index:3;
    cursor:pointer;
    font-size:35px;
    color:black;
    font-weight:bold;    
}

.xButton img{
    margin-top:30px;
    max-width:100px;
    width:100%;
}

#cm{
    display:none;
    position:absolute;
    right:5%;
    top:25%;
    max-width:23px;
    width:100%;
    cursor:pointer;
}


.checkboxText{  
    margin-top:-30px;
    width:100%;   
}

.checkboxText div{
    float:left;
}

.checkboxDiv{
    width:5%;
}

.checkboxTxt{
    width:95%;
    margin-bottom:20px;
}

.checkboxTxt p{
    margin-right:5%;
}

.overlayMenu{  
    background-color:white;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;
    display:none;
}

.customCheckbox{
  display: block;
  position: relative;  
  margin-top:2px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.customCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #E7E7E7;
  border-radius: 3px;
}

.customCheckbox:hover input ~ .checkmark {
  background-color: gray;
}

.customCheckbox input:checked ~ .checkmark {
  background-color: orange;
}

.checkmark:after {
  content: "";
  top: 0;
  left: 20px;
  position: absolute;
  display: none;
}

.customCheckbox input:checked ~ .checkmark:after {
  display: block;
}

.customCheckbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

#fixedAnchorLink{
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:3;
    border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 25px solid Black;
    cursor:pointer;
    display:none;
}

.logoOverlayMenu img{
    position:absolute;
    top:0;
    left:0;
    padding-left:5%;
    z-index:11;
    max-width:150px;
    width:100%;
}

.overlayMenu li{
    
    font-size:50px;
    font-style:none;
    color:white;
    text-align:center; 
    font-size:18px;
    margin-bottom:35px;
}

.overlayMenu li a{
    text-decoration: none;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.overlayMenu li a:hover{
    text-decoration: none;
    color:gray;      
}

#overlayGrid{
    position:relative;
    z-index:30;
    display: grid;
    grid-template-columns: auto 30px 30px 30px auto;
    grid-gap:15px;
    margin-top:38px;
    margin-bottom:60px;
    width:100%;
    font-size:18px;
    font-weight:600;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}

#overlayGrid div{
    position:relative;
}

#overlayGrid p{
    position:absolute;
    top:0;
    margin-bottom:0;
    cursor:pointer;
}

.rekviziti{
    font-weight:bold;
    cursor:pointer;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    display:none;
}

.fb, .ig{
    position:relative;
    float:right;
    margin-right:10%;
    margin-top:5%;
    cursor:pointer;
}

.titlePage{
    text-align:center;
    font-weight:bold;
    font-size:48px;
    font-family: 'Oswald', sans-serif;
    color:#2F4858;
    margin-top:115px;    
}

.titleSapnuBanka{
    text-align:center;
    font-weight:bold;
    font-size:48px;
    font-family: 'Oswald', sans-serif;
    color:#2F4858;
    margin-top:115px; 
    margin-bottom:60px;
}


.textIdeja{
    margin-top:70px;
    margin-left:30%;
    margin-right:30%;
    margin-bottom:145px;
}

.pictureJuris{
    width:100%;
}

.pictureJurisText{
    bottom:30px;
    position:absolute;
    color:white;
    z-index:1;
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    font-size:24px;
    margin-left:25%;
    margin-right:25%;
    margin-bottom:90px;
    text-align:center;
    line-height:36px;    
}

.rectangleJuris{
   position:absolute;
   bottom:0;
   max-height:60%;
   min-width:100%;
}

.titleKenLudden{
    margin-top:40px;
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    color:#2F4858;
}

.descKenLudden{
    margin-top:-10px;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    color:#2F4858;
}

.textKenLudden{
    margin-top:30px;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    color:#2F4858;
    font-style:italic;
}

.arrow1, .arrow2{
    margin-bottom:30px;
    margin-top:20px;
    cursor:pointer;

}

.arrow2{
    margin-left:40px;
}

.arrow2:hover{
    opacity:0.5;
}

.KenLuddenRow{
    margin-top:100px;
    margin-bottom:100px;
}

.activePage{
    border-bottom: 3px solid orange;
}

.activePageOM p{
    border-bottom: 3px solid orange;
}

ul .activePageOM{
    border-bottom: 5px solid orange;
}

.textSapnis{
    margin-top:70px;
    margin-left:30%;
    margin-right:30%;
    margin-bottom:145px;
    font-size:24px;
    color:#2F4858;
}

.textBalloon, .titleBalloon{
    text-align:center;
    color:#2F4858;
    
}

.textBalloon{
    font-size: 18px;
    margin-left:20%;
    margin-right:20%;
    font-family: 'Montserrat', sans-serif;
    line-height:22px;
    margin-bottom:130px;
}

.titleBalloon{
    font-size:30px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    margin-top:50px;
}

.pictureBalloon{
    display:block;
    margin:0 auto 0 auto;
    max-width:200px;

    
}

.columnPersonigaisSapnis{
    height:100%;
    }

.buttonSapnis{
    width:233px;
    height:50px;
    background-color: orange;
    border:none;
    border-radius: 40px 40px 40px 40px;
    color:white;
    display:block;
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
}

.textUznemejiem,.textSapnusAtbalsta, .text99Iedvesmas{
    margin-top:70px;
    margin-bottom:0;
    font-size:18px;
    color:#2F4858;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}

.text99Iedvesmas{
    margin-bottom:150px;
}

.textSapnusAtbalsta{
    margin-bottom:80px;
}

.textMerkis{
    font-family: 'Montserrat', sans-serif;
    color:#2F4858;
    font-size:18px;
    line-height:21.94px;
    padding-top:30px;
}

.titleMerkis, .titleMisija{
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    color:#2f4858;
    font-size:30px;
    text-align:center;
    margin-bottom:80px;
    margin-top:120px;
}

.pictureSun, .pictureGlasses{
    float:right;

}

.textCliff{
    text-align:right;
    margin-left:25%;
    margin-right:5%;
    margin-bottom:100px;
}

.textSun, .textGlasses{
    margin-right:25%;
    margin-left:5%;
    margin-bottom:100px;
}


.titleMisija{
    margin-top:73px;
    margin-bottom:45px;
}

.textMisija{
    text-align:center;
    font-size:24px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    color:#2F4858;
    margin-bottom:125px;
}

.row.sapnuBankaOrangeBackground{
    background-color:#FFCB66;

}

.pictureTrees{
    display:block;
    margin: 0 auto 0 auto;
    margin-top:175px;
    max-width:160px;
    width:100%;
}

.pictureRainbow{
    display:block;
    margin: 0 auto 0 auto;
    margin-top:110px;
    max-width:300px;
    width:100%;
}

.textOrangeBackground{
    color:white;
    font-weight:bold;
    font-size:24px;
    line-height:29.26px;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    margin-left:25%;
    margin-right:25%;
    margin-top:45px;
    margin-bottom:100px;
}

.titleSapnusAtlasis{
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    font-size:30px;
    text-align:center;
    color:#2F4858;
    margin-bottom:60px;
    margin-top:130px;
}

.textSapnusAtlasis{
    font-family: 'Montserrat', sans-serif;
    color:#2F4858;
    font-weight:bold;
    text-align:center;
    font-size:24px;
    margin-right:25%;
    margin-left:25%;
    margin-bottom:120px;
}

.picturePeople, .pictureMegaphone{
    display:block;
    margin: 0 auto 0 auto;
    max-width:150px;
    width:100%;
}

.picturePeople{
    max-width:200px;
}


.freespace{
    height:200px;
}

.title1SapnuBanka{
    margin-top:-20px;
}


.dropdownBoxDesc{
    color:#FFA800;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    font-weight:bold;
}

.leftDropdownBox, .rightDropdownBox{   
    margin-bottom:30px;
    height:110px;
    position:relative;   
}


.dropDownBoxGrid{
    display:grid;
    grid-template-columns: auto 17% 17% auto;
    column-gap:0;
    position:relative;
}

.dropdownBox{
    position:absolute;
    background: rgba(196, 196, 196, 0.4);
    width:90%;
    border-radius:5px;
    color:#2F4858;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    line-height:21.94px;
    border:0;
    padding-left:10px;
    padding-right:10px;
    height: 43px;
    font-weight:700;
    top:40%;
}








.selectedItemsGrid{
    grid-template-columns: 20% 15% 30% 15% 20%;
    display:none;
}


.selectedItemsGrid div{
    position:relative;
}

.selectedItemsGrid h6{
    position:absolute;
    top:50%;
    transform: translate(0, -50%);
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    font-size:24px;
    color:#2F4858;    
}

.selectedItemsGrid p{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:18px;
    color:#2F4858;
    text-align:right;
}

.selectedItemsGrid img{
    max-width:120px;
    width:100%;
}








/*the container must be positioned relative:*/
.custom-select, .custom-select2  {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  width:90%;  
}

.custom-select{
    z-index:200;
}

.custom-select select, .custom-select2 select  {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
   background: rgba(211, 211, 211);
   font-size:18px;
   border-radius: 5px 5px 5px 5px;
   font-weight:700;
   color:#2F4858;
}

/*style the arrow inside the select element:*/
.select-selected:after {

  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #2F4858 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #2F4858 transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  padding: 8px 16px;
  font-size:18px;
  color:#2F4858;  
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background: rgba(211 ,211 ,211);
  top: 90%;
  left: 0;
  right: 0;
  z-index: 40;
   border-radius:0 0 5px 5px;
}


/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}





.selectedItemsGridWrapper{
    position:absolute;
    width:100%;
    height:auto;
    top:50%;
    transform: translate(0, -50%);
}


.grid-container{
    display: grid;
    grid-template-columns: 14% auto auto auto auto auto auto 14%;
    grid-gap: 1%;
    margin-bottom:35%;
}

.grid-container img{
    max-width:205px;
    width:100%;       
}

.grid-item{
    background-color: rgba(255, 255, 255, 0.8); 
    text-align: center;
    cursor:pointer;
    position:relative;

}

.gridNumber{
    position:absolute;
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size:36px;
    font-size:3vh;   
    font-weight:900;
    z-index:2;
    width:100%;
    bottom:0;
    left:0;    
    border: 0px solid green;
    line-height:0;
}

.gridNumber p{
    position:absolute;
    bottom:0;
    right:15%;
    transform: translate(-15%, 0);
}

.gridPictureTransparent{
    position:absolute;
    z-index:2;
    align-self: center;
    top:0;
    opacity:.4;
    height:100%;
    left:50%;
    transform:translateX(-50%);
}

.titleSparkleHeart{
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    font-size:30px;
    text-align:center;
    color:#2F4858;
}

.textSparkleHeart{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size:18px;
    text-align:center;
    color:#2F4858;
}

.grid-container2{
    display: grid;
    grid-template-columns: 9% auto auto auto 9%;
    grid-gap:15px;
}

.grid-item2{
    background-color: rgba(255, 255, 255, 0.8); 
    text-align: center;
    cursor:pointer;
}
.grid-item2 img{
    max-width:320px;
    width:100%;
}

.rectangle{
    position:absolute;
    top:0;
    z-index:40;
    left:50%;
    transform:translateX(-50%);
}

.grid-containerPictures1{
    display: grid;
    grid-template-columns: 25% 25% 23% 27%;
    
}

.grid-containerPictures2{
    display: grid;
    grid-template-columns: 22% 22% 22% 34%;    
}

.picRowSapnis{
    margin-top:150px;
}

.gridNoPicture{
    position:absolute;
    border: 0 solid blue;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width:90%;
    height:60%;
    text-align:center;
    vertical-align:middle;
    color:white;
    font-family: 'Oswald', sans-serif;
    font-weight:700;
    font-size: 24px;
    font-size: 1.4vw;
}

#submitMessage1{
    text-align:center;
    color:orange;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    font-weight:500;
    display:none;
    margin-left:7%;
    margin-right:7%;
}

#submitMessage2{
    margin-top:-20px;
    text-align:center;
    color:orange;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    font-weight:500;
    display:none;
    margin-bottom:150px;
    margin-left:7%;
    margin-right:7%;
    line-height:22px;
}

.pictureJurisRow{
    height:720px;
    background: url("../img/Juris.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-color:orange;
}

.cliffGrid{
        display: grid;
        grid-template-columns: 53% 47%;    
   }


.glassesGrid, .sunGrid{
        display: grid;
        grid-template-columns: 40% 60%;    
   }

#showMoreButton{
    display:block;
    margin:0 auto 0 auto;
    width:75%;
    height:50px;
    background-color: orange;
    border:none;
    border-radius: 40px 40px 40px 40px;
    color:white;
    display:block;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:150px;
    outline:none;
    display:none;
}

.pictureDescGridContainer2{
    position:absolute;
    bottom:0;
    z-index:300;
    display:block;
    width:100%;
    margin-bottom:10px;
}

.pictureDescGridContainer2 p:nth-of-type(1){
    color:white;
    font-size:24px;
    font-family: 'Oswald', sans-serif;
    font-weight:500;
    text-align:center;
    margin: 0 auto 0 auto;
    margin-bottom:0;   
    width:80%;
}

.pictureDescGridContainer2 p:nth-of-type(2){
    color:white;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    text-align:center;
    margin: 0 auto 0 auto; 
    width:70%;
}

.grid-item2{
    position:relative;
}

#videoOverlay{
    width:100%;
    height:100%;   
    position:fixed;
    top:0;
    left:0;
    z-index:30;
    background: rgba(47, 72, 88, 0.9); 
    display:none;
}

#videoOverlay #buttonBackground{
    max-width:90px;
}

#videoOverlay #playButton{
    max-width:100px;
}


#videoOverlay{
    color:white;
    font-size:36px;
    font-weight:500px;
    font-family: 'Oswald', sans-serif;
    text-align:center;
}

.videoClose p{
    margin-top:50px;   
    text-align:right;
}

.videoClose p span{
    cursor:pointer;
    margin-right:5%;
}

.videoGrid{
    max-width:1350px;  
    width:100%;
}

#map{
    margin-top:40px;
    height:800px;
    width:100%;
    position:relative;
}

.blueRippedEffect{   
    position:absolute;
    bottom:-1px;
    left:0;
    height:70px;
    width:100%;
    z-index:20;
    background-color:#365461;
    -webkit-mask-image: url(https://i.imgur.com/9XanwOV.png);
    -webkit-mask-size: 100% auto;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position:bottom;
}

.activePageBold li a{
    font-weight:bold;
}

.background404{
    background-color:#FFCB66;
    min-height:800px;
}

.background404 p{
    text-align:center;
}

.background404 p:nth-of-type(1){
    margin-top:170px;
    color:white;
    font-weight:700;
    font-size:96px;
    font-family: 'Oswald', sans-serif;
}

.background404 p:nth-of-type(2){
    color:#2F4858;
    font-weight:700;
    font-size:36px;
    font-family: 'Oswald', sans-serif;
}

.background404 p:nth-of-type(3){
    margin-top:40px;
    color:#2F4858;
    font-weight:400;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
}

.background404 button{
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    color:#FFCB66;
    background-color:white;
    border:none;
    border-radius: 40px 40px 40px 40px;
    outline:none;
    width:185px;
    height:50px;
    display:block;
    margin: 0 auto 0 auto;
    margin-top:60px;
}

.background404 a{
    text-decoration:none;
}

.mapMarkerDesc{
    display:grid;
    grid-template-columns: 40% 60%;
    background: rgba(255, 168, 0, 0.5);
    opacity:1;
    width:486px;
    height: 175px;
    border-radius: 5px 5px 5px 5px;
}

.mapMarkerDesc h6{
    margin-right:20px;
    margin-top:20px;
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    text-align:right;
    font-weight:500;
    color:#2F4858;
}

.mapMarkerDesc p{
    margin-right:20px;
    margin-top:40px;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    text-align:right;
    font-weight:400;
    color:#2F4858;
    line-height:22px;
}

.mapMarkerDesc div{
    position:relative;
}

.mapMarkerDesc img{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;   
}

.gm-style-iw-c > button{
    display:none !important;
    
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track, .gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece, .gm-style .gm-style-iw-c, .gm-style .gm-style-iw-t::after{
    background: rgba(255, 168, 0, 0.0);
    box-shadow:none;
    }

.gmnoprint button{
    padding-bottom:20px;;
}

.gm-style-mtc {
  display: none;
}

.gm-fullscreen-control{
    display:none;
}

.gm-svpc{
    display:none;
}

.openMenuButton{
        display:none;
}

#om{
    position:absolute;
    right:5%;
    top:25%;
    max-width:23px;
    width:100%;
    cursor:pointer;
}

#cm{
    position:absolute;
    right:8%;
    top:25%;
    max-width:23px;
    width:100%;
    cursor:pointer;
}

.textSapnis{
    margin-bottom:65px;
}



@media all and (max-width:1420px){
    .inputLauks1{
        width:100%;
    }
    #vardsUzvardsInput{
        margin-right:0;
    }
    
    .navigacija{
       /*padding:0 7px;*/
       margin-right:25px;
    }
    
    .navGrid a{
        font-size:17px;
    }
    
    .navElement{
        display:none;
    }
    .navGrid{
        grid-template-columns: 22% auto;
    }
    
    .openMenuButton{
        display:block;
    }
    
        .dropDownBoxGrid{
        grid-template-columns: auto;
    }
    
    .dropdownBoxDesc{
        position:absolute;
        left:5%;
    }
    
    .custom-select, .custom-select2{
        left:50%;
        top:50%;
        transform:translateX(-50%);
        width:90%;
    }
    
    .selectedItemsGrid p{
        font-size:13px;
    }
    
    
}

@media only screen and (max-width: 1200px){
    .navbar{
        display:none;
    }
        .xButton{
        display:block;        
        right:10%;                
    }
    .navGrid a{
        display:none;
    }    
}


@media only screen and (max-width: 900px){
    .navigacija{
        /*padding:0 3px;*/
        /*margin-right:30px;*/
        
        
    }
     .atbalstitaji img{
        /*transform:scale(0.6, 0.6);*/
        
    }

}

@media only screen and (max-width: 768px){
    .sparkleLogo .col-md-2{
        width:30%;
    }
    .sparkleLogo .col-md-10{
        width:70%;
    }
    
    .atbalstitaji img{
        /*transform:scale(0.75, 0.75);*/

    }
    

}

@media only screen and (max-width: 768px){
    .grid-containerPictures1{
        display: grid;
        grid-template-columns: 45% 10% 45%;    
   }

        .grid-containerPictures2{
        display: grid;
        grid-template-columns: 45% 5% 5% 45%;
    
}



    .grid-containerPictures1 div:nth-of-type(1) {
        order: 3;
        grid-column: 1 / span 2;        
    }
    
    .grid-containerPictures1 div:nth-of-type(2) {
        order: 4;        
    }   
    .grid-containerPictures1 div:nth-of-type(3) {
        order: 1;
    }
    .grid-containerPictures1 div:nth-of-type(4) {
        order: 2;
        grid-column: 2 / span 3;
    }
    
    .grid-containerPictures2 div:nth-of-type(1) {
        order: 3;
        grid-column: 1 / span 2;        
    }
    
    .grid-containerPictures2 div:nth-of-type(2) {
        order: 4;    
        grid-column: 3 / span 2; 
    }   
    .grid-containerPictures2 div:nth-of-type(3) {
        order: 1;
    }
    .grid-containerPictures2 div:nth-of-type(4) {
        order: 2;
        grid-column: 2 / span 3;
    }
    
    
    .pictureLauma{
        
    }
    
    .pictureBrinumaMeita{
        height:100%;
       
    }
    
    .pictureZanda{
        height:100%;
    }
       
    .pictureSibilla{
        height:100%;
    }
    
    
    .pictureStacked1{
        max-height:200px;
    }
    
    

    .ulLogo4{
        text-align:left;
        margin-left:5%;
        line-height:2.1;
    }
    
    .logoImg{
        transform:scale(0.9,0.9);
    }
    
    
    .ulLogo{
    font-size:12px;
    }
    
    .vt{
        text-align:left;
        margin-left:5%;
    }
    .pp{
        text-align:left;
        margin-left:5%;
    }
    
    .navigacija{
        display:none;
    }
    

    .goldenImg{
        position:relative;
        float:left;       
        transform:scale(0.8,0.8);
        max-width:140px;
    }
    
    .inputLauks1{
        width:90%;
        display:block;   
        height:35px;
    }
    
    #vardsUzvardsInput{
        margin: 0 auto 5% auto;
    }
    
    #epastsInput{
        margin: 0 auto 0 auto;
    }
    
    #inputLauks2{
        height:35px;
    }
    
    #inputLauks2, #inputLauks3{
        width:90%;
        display:block;
        margin: 0 auto 0 auto;
    }
    
    #inputLauks3{
        height:150px;
    }
    
    .text{
        margin-left:30%;
        margin-right:30%;
        
    }
    
    .titlePage{
        font-size:36px;
    }
    
    .button1{
        width:70%;
        height:50px;
        font-size:18px;
    }
    
    .atbalstitaji .col-md-3{
        width:50%;
    }   
       
    .sparkleLogo .col-md-2{
        width:30%;
    }
    .sparkleLogo .col-md-10{
        width:70%;
    }
    
    .ulLink{
        display:none;
    }
    .ulBiedriba{
        display:none;
    }
   .liText{
       padding-bottom:25px;
   }
   .fb, .ig{
       float:left;
       margin-left:5%;
       margin-bottom:2%;
   }
   
   .pp,.vt{
       font-size:11px;
   }
   
   .underInputText{
       margin-left:5%;
       font-size:12px;
   }
   
   .customCheckbox{
       float:right;
       
   }    
   
   .rekviziti{
       display:block;
   }
   
   .title1{
       font-size:18px
       font-weight:bold;
   }
   
   .title2{
       font-size:24px;
       font-weight:bold;
   }
   
   .contactUsRowSapnis{
       margin-top:-25px;
   }
   
   .contactUsRowSapnis form{
       margin-top:-43px;
   }
   
   .contactUsRowSapnis textarea{
       height:50px;
   }
   
   input[type="text"]{
       font-size:14px;
   }
   
   textarea{
       font-size:14px;
   }
   .submitButton{
       margin-top:100px;
       margin-bottom:170px;
       width:145px;
       height:48px;
       font-size:18px;
   }
   
   
   
   .atbalstitajiTeksts p{
       font-size:24px;
   }
   
   .text{
       font-size:12px;
       margin-left:5%;
       margin-right:5%;
   }
   
   .beigas br{
       display:none;
   }
   
   .titlePage{
       margin-top:68px;
   }
   .textSapnis{
       margin-top:30px;
       font-family: 'Montserrat', sans-serif;
       font-size:14px;
       font-weight:500;
       margin-bottom:45px;
   }
   .titleBalloon{
       margin-top:30px;
       font-size:18px;
   }

    .textBalloon{
       font-size:12px;
       font-family: 'Montserrat', sans-serif;
       margin-left:10%;
       margin-right:10%;
       line-height:14.6px;
   }
    
    #submitMessage1{
        font-size:18px;
    }
    
   #submitMessage2{
       margin-bottom:200px;
       margin-left:10%;
       margin-right:10%;
       line-height:17px;
       font-size: 14px;
   }

    .pictureJurisText{
        bottom:-45px;
        font-size:18px;
        line-height:27px;
        margin-left:3%;
        margin-right:3%;
        font-weight:500;
    }
    
    .titleKenLudden, .textKenLudden, .descKenLudden, .arrow1, .arrow2{
        margin-right:3%;
        margin-left:3%;
    }
    
    .titleKenLudden{
        font-size:18px;
        margin-top:30px;
    }
    
    .descKenLudden{
        font-size:14px;
        line-height:17px;
        margin-top:10px;
    }
    
    .textKenLudden{
        margin-top:22px;
       font-size:12px;
       line-height:15px; 
    }
    
    .arrow2{
        margin-left:30px;
    }
    
    .textIdeja{
        margin-top:30px;
        margin-bottom:110px;
        font-size:12px;
        line-height:14px;
    }
    
    .textUznemejiem{
        font-size:14px;
        margin-top:40px;
        line-height:14px;
    }
    
    .title2Uznemejiem{
        margin-top:-30px;
        margin-bottom:-25px;
    }
    
    .underInputText{
        margin-top:10px;
        margin-bottom:-10px;
    }
    
    .pictureSun, .pictureCliff, .pictureGlasses{
        float:none;
        display:block;
        margin: 0 auto 0 auto;
        max-width:120px;
        width:100%;
    }
    
    .textSun, .textCliff, .textGlasses{
        margin-left:5%;
        margin-right:5%;
        text-align:center;
        font-size:12px;
        line-height:14.6px;
    }
    
    .glassesGrid, .sunGrid, .cliffGrid{
        grid-template-columns: 100%;    
   }
    
    .cliffGrid div:nth-of-type(1){
        order:2;
    }
    .cliffGrid div:nth-of-type(2){
        order:1;
    }
    
    .textSun, .textCliff, .textGlasses{
        margin-bottom:100px;
    }
    
    .titleMisija{
        font-size:24px;
        margin-top:20px;
        margin-bottom:20px;
    }
    
    .textMisija{
        font-size:18px;
    }
    
    .textOrangeBackground{
        font-size: 18px;
        margin-left:5%;
        margin-right:5%;
        margin-bottom:50x;
        font-weight:500;
        line-height:22px;
    }
    
    .titleSapnusAtlasis{
        font-size:24px;
    }
    
    .textSapnusAtlasis{
        font-size:18px;
        margin-left:5%;
        margin-right:5%;
        margin-bottom:50px;
    }
    
    .rainbowRow{
        margin-top:50px;
    }
    
    .title1SapnuBanka{
        margin-top:55px;
        font-size:18px;
        margin-bottom:25px;
        margin-left:5%;
        margin-right:5%;
    }
    
    .title1SapnuBanka2{
        margin-top:10px;
    }
    
    .freespace{
        height:120px;
    }
    
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap:0;
        grid-row-gap:14px;
        margin-bottom:85px;
    }
        
    .grid-container img{
        max-width:380px;
        padding-left:7px;
        padding-right:7px;
    }
    

    .gridContainerFreeSpace{
        display:none;
    }

    .text99Iedvesmas{
        font-size:18px;
        font-weight:700;
        margin-bottom:60px;
    }
    
    #showMoreButton{
        display:block;
    }
    
    .hidden{
    display:none;
    }
    
    .grid-container2{
    grid-template-columns: auto;
    grid-row-gap:30px;
    }
    
    .grid-container2 img{
        max-width:420px;
    }
    
    .pictureDescGridContainer2 p:nth-of-type(1){
    font-size:18px;
    }

    .pictureDescGridContainer2 p:nth-of-type(2){
    font-size:14px;
    }
       
    .pictureJurisRow{
        background-position:65% 0;
        height:450px;
    }
    
    .videoClose p{
    margin-top:200px;   
    }
    
    .videoGrid{
        max-width:400px;
    }
    
    .xButton{
        font-size:20px;
        margin-top:30px;     
    }
    
    .gridNoPicture{
        font-size: 6vw;
    }
    
    .titleSapnuBanka{
        margin-top:65px;
        font-size:36px;
    }
    
    .titleMerkis{
        margin-top:100px;
        font-size:24px;
    }
    
     .textSun, .textCliff, .textGlasses{
        margin-bottom:70px;
    }
    
    .pictureTrees{
        margin-top:140px;
        margin-bottom:0;
        max-width:120px;
    }
    
    .pictureRainbow{
        margin-top:90px;
        margin-bottom:0;
        max-width:300px;
    }
    
    .pictureMegaphone{
        max-width:100px;
    }
    
    .picturePeople{
        max-width:130px;
    }
    
    .text99Iedvesmas{
        
    }
    .grid-container{
        margin-bottom:16%;
    }
    
    .titleSparkleHeart{
        font-size:24px;
    }
    .textSparkleHeart{
        font-size:14px;
        line-height:17px;
    }         
    
    .mapMarkerDesc{
        grid-template-columns:auto;
        width: 290px;
        height:200px;
    }
    
    .mapMarkerDesc p{
        font-size:14px;
        line-height:17px;
        margin-bottom:-30px;
    }
    
    .mapMarkerDesc h6{
        font-size:16px;
        margin-bottom:-20px;
    }
    
    .mapMarkerDesc img{
        position:relative;
        float:right;
        margin-right:25px;
        margin-top:15px;
        margin-bottom:-30px;
        
    }   
        .selectedItemsGrid p{
        font-size:8px;
    }
    
    .zoomButtons{
        display:none;
    }   
}

   



