div {
    border: 1px solid red;
}



/*@font-face {
    font-family: 'Mon';
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}*/

.wrapper{
    width:100%;
    position:relative;
    left:0;
    top:0;
}

.wrapper2{
    width:100%;
    position:relative;
    left:0;
    bottom:0;
}

.wrapper3{
    position:relative;
    top:0;
    left:0;
    
}

nav {
    display:block;
    top:40px;
    margin-left:5%;
    border: 0px solid green;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.logoImg{
    display:block;
    margin: 0 auto 0 auto;
    float:right;
    max-width:160px;
    width:100%;
    height:auto;
    cursor:pointer;
}

.navigacija {
  float: left;
  font-size:18px;
  font-family: 'Montserrat', sans-serif;
  border: 0px solid green;
  font-weight:bold;
  margin-right:50px;
}

.navigacija a {
  display: block;
  color: white;
  text-align: center;  
  text-decoration: none;
  color:black;
}

.navigacija a:hover {
  color:gray;
  font-weight:bold;
}

.button1{
    width:233px;
    height:50px;
    background-color: orange;
    border:none;
    border-radius: 40px 40px 40px 40px;
    color:white;
    display:block;
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
}

.title1{
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    padding-bottom:50px;
    padding-top:22%;
    color:#2F4858;
    font-weight:bold;
}

.title2{
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color:#2F4858;
    font-weight:bold;
    padding-top:150px;
    padding-bottom:50px;
}

.atbalstitaji{
    background-color:#FFCB66;
}

.logo{
    background-color:#365461;
    color:white;
    padding-top:70px;
    
}

.logo span{
    font-family: 'Montserrat', sans-serif;
}

.ulLogo{
    background-color:#365461;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
}

.ulLogo4{
    text-align:right;
    margin-right:10%;
}
.text{
    text-align:center;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    margin-right:26.5%;
    margin-left:26.5%;
    margin-top:10.5%;
    margin-bottom:10%;
    color: #2f4858;
    line-height:21.94px;
}

.teksts2{
    padding-left:1px;
}
.inputLauki{
    width:50%;
    position:relative;
    left:25%;
}
input{
    background-color:#C4C4C4;
    border:none;
    border-radius: 5px 5px 5px 5px;
    margin-bottom:1%;
    margin-bottom:15px;
    color:#2F4858;
}

.inputLauks1{
   position:relative;
   width:48.43%;
   height:43px;
   background: rgba(196, 196, 196, 0.4);
}

#inputLauks2{
    height:43px;
    background: rgba(196, 196, 196, 0.4);
}

#inputLauks2, #inputLauks3{
    width:100%;
}

#inputLauks3{
    background: rgba(196, 196, 196, 0.4);
    border:none;
    border-radius: 5px 5px 5px 5px;
    margin-bottom:1%;
    height:300px;
    color:#2F4858;
}

.underInputText{
    color:#2F4858;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:14px;
    line-height:17px;
    color:#2F4858;

}

input[type="text"]{
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    color:#2F4858;
    padding-left:2%;
}

input::placeholder{
    color:#2F4858;
}



textarea{
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    color:#2F4858;
    padding-left:2%;
}
textarea::placeholder{
    color:#2F4858;
}




.submitButton{
    width:182px;
    height:62px;
    background-color: orange;
    border:none;
    border-radius: 40px 40px 40px 40px;
    color:white;
    display:block;
    margin: 0 auto 0 auto;
    margin-top:50px;
    font-size:24px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:150px;
    outline:none;
}



.beigas{
    background-color:#365461;
    color:white;
    font-size:14px;
    line-height:1;
    font-family: 'Montserrat', sans-serif;
}


.video{
    position:relative;
    width:100%;
    
}

.vid{}

.playButton{
    position:absolute;
    cursor:pointer;
    width:6%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);           
}


.buttonBackground{
    position:absolute;
    cursor:pointer;
    width:5.7%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
}

.tear1{
    z-index:2;
    position:absolute;   
}

.ripped{
    z-index:2;
    position:absolute;
    width:100%;
    
}
.ripped3{
  bottom:10%;
}

.ripped4{
    z-index:2;
    position:absolute;
    width:100%;   
    top:-40px;      
}


.anda{
    height:100%;
    }

.bildes{
    width:100%;
    position:relative;
}

.row div{
    padding:0;
}

.goldenImg{
    display:block;
    margin: 0 auto 0 auto;
    transform:scale(0.85,0.85);
    height:auto;
    max-width:250px;
    width:100%;
}

.liText{
    font-size:24px;
    padding-bottom:5px;
    font-weight:500;
}

.ulLink{
    line-height:2.1;
}

.ulLink li a{
    text-decoration:none;
    color:white;
}


.atbalstitaji img{
    display:block;
    margin:0 auto 0 auto;
    max-width:200px;
    height:auto;
    width:80%;
}

.lin img{
    max-width:80px;
}


.atbalstitajiTeksts{
    background-color:#FFCB66;
    
}
.atbalstitajiTeksts p{
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    color:darkBlue;
    font-weight:500;
    padding-top:80px;
    color: #2F4858;
    font-weight:bold;
}

#vardsUzvardsInput{
    margin-right:2.5%;
}

.wave1{
    position:absolute;
    left:0;
    top:0;
}

.atbalstitaji div{
    padding-top:75px;
    padding-bottom:75px;
}

.vt{
    margin-left:10%;
}
.pp{
    text-align:right;
    margin-right:10%;
}

.xButton{
    display:none;
    position: absolute;
    right:0;
    z-index:3;
    cursor:pointer;
    font-size:55px;
    color:black;
    font-weight:bold;
    
}


.checkboxText{  
    margin-top:-30px;
    width:100%;   
}

.checkboxText div{
    float:left;
}

.checkboxDiv{
    width:5%;
}

.checkboxTxt{
    width:95%;
    margin-bottom:20px;
}

.checkboxTxt p{
    margin-right:5%;
}
/**/
.overlayMenu{  
    background-color:white;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;
    display:none;
}

.customCheckbox{
  display: block;
  position: relative;  
  margin-top:2px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.customCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #E7E7E7;
  border-radius: 3px;
}

.customCheckbox:hover input ~ .checkmark {
  background-color: gray;
}

.customCheckbox input:checked ~ .checkmark {
  background-color: orange;
}

.checkmark:after {
  content: "";
  top: 0;
  left: 20px;
  position: absolute;
  display: none;
}

.customCheckbox input:checked ~ .checkmark:after {
  display: block;
}

.customCheckbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}


#fixedAnchorLink{
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:3;
    border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 25px solid Black;
    cursor:pointer;
    display:none;
}


.logoOverlayMenu img{
    position:absolute;
    top:0;
    left:0;
    padding-left:5%;
    z-index:11;
    max-width:150px;
    width:100%;
}

.overlayMenu li{
    
    font-size:50px;
    font-style:none;
    color:white;
    text-align:center; 
    font-size:18px;
    margin-bottom:50px;
}

.overlayMenu li a{
    text-decoration: none;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.overlayMenu li a:hover{
    text-decoration: none;
    color:gray;      
}

#overlayGrid{
    position:relative;
    z-index:30;
    display: grid;
    grid-template-columns: 20% auto auto auto 20%;
    grid-gap:15px;
    margin-bottom:80px;
    width:100%;
    font-size:18px;
    font-weight:600;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    
}


#OM{
    padding-top:150px;
}

.rekviziti{
    font-weight:bold;
    cursor:pointer;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    display:none;
}

.fb, .ig{
    position:relative;
    float:right;
    margin-right:10%;
    margin-top:5%;
    cursor:pointer;
}

.titlePage{
    text-align:center;
    font-weight:bold;
    font-size:48px;
    font-family: 'Oswald', sans-serif;
    color:#2F4858;
    margin-top:115px;    
}

.titleSapnuBanka{
    text-align:center;
    font-weight:bold;
    font-size:48px;
    font-family: 'Oswald', sans-serif;
    color:#2F4858;
    margin-top:115px; 
    margin-bottom:40px;
}


.textIdeja{
    margin-top:70px;
    margin-left:30%;
    margin-right:30%;
    margin-bottom:145px;
}

.pictureJuris{
    width:100%;
}

.pictureJurisText{
    bottom:30px;
    position:absolute;
    color:white;
    z-index:1;
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    font-size:24px;
    margin-left:25%;
    margin-right:25%;
    margin-bottom:90px;
    text-align:center;
    line-height:36px;    
}

.titleKenLudden{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
    color:#2F4858;
}

.descKenLudden{
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    color:#2F4858;
    margin-bottom:40px;
}

.textKenLudden{
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    color:#2F4858;
    font-style:italic;
}



.arrow1, .arrow2{
    cursor:pointer;
}

.arrow2{
    margin-left:40px;
}

.arrow2:hover{
    opacity:0.5;
}

.KenLuddenRow{
    margin-top:100px;
    margin-bottom:100px;
}

.activePage{
    border-bottom: 3px solid orange;
}

.activePageOM{
    border-bottom: 5px solid orange;
}



.textSapnis{
    margin-top:70px;
    margin-left:30%;
    margin-right:30%;
    margin-bottom:145px;
    font-size:24px;
    color:#2F4858;
}

.textBalloon, .titleBalloon{
    text-align:center;
    color:#2F4858;
    
}

.textBalloon{
    font-size: 18px;
    margin-left:30%;
    margin-right:30%;
    font-family: 'Montserrat', sans-serif;
    line-height:22px;
    margin-bottom:150px;
}

.titleBalloon{
    font-size:30px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    margin-top:20px;
}

.pictureBalloon{
    display:block;
    margin:0 auto 0 auto;
    max-width:200px;

    
}

.columnPersonigaisSapnis{
    height:100%;
    }

.buttonSapnis{
    width:25%;
    height:50px;
    background-color: orange;
    border:none;
    border-radius: 40px 40px 40px 40px;
    color:white;
    display:block;
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
}

.textUznemejiem,.textSapnusAtbalsta, .text99Iedvesmas{
    margin-top:70px;
    margin-bottom:0;
    font-size:18px;
    color:#2F4858;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}

.text99Iedvesmas{
    margin-bottom:100px;
}

.textSapnusAtbalsta{
    margin-bottom:80px;
}


.textMerkis{
    font-family: 'Montserrat', sans-serif;
    color:#2F4858;
    font-size:18px;
    line-height:21.94px;
    padding-top:30px;
}

.titleMerkis, .titleMisija{
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    color:#2f4858;
    font-size:30px;
    text-align:center;
    margin-bottom:80px;
    margin-top:120px;
}

.pictureSun, .pictureGlasses{
    float:right;

}

.textCliff{
    text-align:right;
    margin-left:50%;
    margin-right:5%;
    margin-bottom:145px;
}

.textSun, .textGlasses{
    margin-right:50%;
    margin-left:5%;
    margin-bottom:145px;
}

.titleMisija{
    margin-top:10px;
    margin-bottom:20px;
}

.textMisija{
    text-align:center;
    font-size:24px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    color:#2F4858;
    margin-bottom:100px;
}

.row.sapnuBankaOrangeBackground{
    background-color:#FFCB66;

}

.pictureTrees{
    display:block;
    margin: 0 auto 0 auto;
    margin-top:150px;
    max-width:150px;
    width:100%;
}

.pictureRainbow{
    display:block;
    margin: 0 auto 0 auto;
    margin-top:110px;
    max-width:300px;
    width:100%;
}
.textOrangeBackground{
    color:white;
    font-weight:bold;
    font-size:24px;
    line-height:29.26px;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    margin-left:29%;
    margin-right:29%;
    margin-top:30px;
    margin-bottom:100px;
}


.titleSapnusAtlasis{
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    font-size:30px;
    text-align:center;
    color:#2F4858;
    margin-bottom:60px;
    margin-top:100px;
}

.textSapnusAtlasis{
    font-family: 'Montserrat', sans-serif;
    color:#2F4858;
    font-weight:bold;
    text-align:center;
    font-size:24px;
    margin-right:35%;
    margin-left:35%;
    margin-bottom:120px;
}

.picturePeople, .pictureMegaphone{
    display:block;
    margin: 0 auto 0 auto;
    max-width:150px;
    width:100%;
}

.freespace{
    height:200px;
}

.title1SapnuBanka{
    margin-top:-100px;
}

.dropdownBox{
    background-color:#C4C4C4;
    opacity:0.4;
    width:300px;
    border-radius:5px;
}

.dropdownBoxDesc{
    color:#FFA800;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    font-weight:bold;
}

.leftDropdownBox{
    float:right;
    position:relative;
    right:2%;
    margin-bottom:30px;
}

.rightDropdownBox{
    margin-left:2%;
    margin-bottom:30px;
}
.dropdownBox{
    color:#2F4858;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    line-height:21.94px;
    border:none;
}

.grid-container{
    display: grid;
    grid-template-columns: 14% auto auto auto auto auto auto 14%;
    grid-gap: 1%;
    margin-bottom:150px;
}

.grid-container img{
    max-width:205px;
    width:100%;

}

.grid-item{
    background-color: rgba(255, 255, 255, 0.8); 
    text-align: center;
    cursor:pointer;
    position:relative;
}


.gridNumber{
    position:absolute;
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size:36px;
    font-weight:900;
    z-index:2;
    width:100%;
    height:100%;
    top:0;
    left:0;    
    
}

.gridNumber p{
    position:absolute;
    bottom:0;
    right:5%;
}

.gridPictureTransparent{
    position:absolute;
    z-index:2;
    left:0;
    top:0;
    opacity:.4;
    height:100%;
}

.titleSparkleHeart{
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    font-size:30px;
    text-align:center;
    color:#2F4858;
}

.textSparkleHeart{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size:18px;
    text-align:center;
    color:#2F4858;

}

.grid-container2{
    display: grid;
    grid-template-columns: 9% auto auto auto 9%;
    grid-gap:15px;
}

.grid-item2{
    background-color: rgba(255, 255, 255, 0.8); 
    text-align: center;
    cursor:pointer;
}
.grid-item2 img{
    max-width:320px;
    width:100%;
}

.grid-containerPictures1{
    display: grid;
    grid-template-columns: 25% 25% 23% 27%;
    
}

.grid-containerPictures2{
    display: grid;
    grid-template-columns: 22% 22% 22% 34%;
    
}

.gridItemPictures1{
  

}

#submitMessage1{
    text-align:center;
    color:orange;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    font-weight:500;
    display:none;
    margin-left:7%;
    margin-right:7%;
}

#submitMessage2{
    margin-top:-20px;
    text-align:center;
    color:orange;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    font-weight:500;
    display:none;
    margin-bottom:150px;
    margin-left:7%;
    margin-right:7%;
    line-height:22px;
}

.pictureJurisRow{
    
    height:800px;
    background-image: url(.img/Juris.png);
}

.cliffGrid{
        display: grid;
        grid-template-columns: 55% 45%;    
   }


.glassesGrid, .sunGrid{
        display: grid;
        grid-template-columns: 45% 55%;    
   }


#showMoreButton{
    display:block;
    margin:0 auto 0 auto;
    width:75%;
    height:50px;
    background-color: orange;
    border:none;
    border-radius: 40px 40px 40px 40px;
    color:white;
    display:block;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:150px;
    outline:none;
    display:none;
}

.pictureDescGridContainer2{
    position:absolute;
    bottom:0;
    z-index:300;
    display:block;
    width:100%;
    margin-bottom:10px;
}


.pictureDescGridContainer2 p:nth-of-type(1){
    color:white;
    font-size:24px;
    font-family: 'Oswald', sans-serif;
    font-weight:500;
    text-align:center;
    margin: 0 auto 0 auto;
    margin-bottom:0;   
    width:80%;
}


.pictureDescGridContainer2 p:nth-of-type(2){
    color:white;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    text-align:center;
    margin: 0 auto 0 auto; 
    width:70%;
}

.grid-item2{
    position:relative;
}




@media all and (max-width:1420px){
    .inputLauks1{
        width:100%;
    }
    #vardsUzvardsInput{
        margin-right:0;
    }
    
    .navigacija{
       /*padding:0 7px;*/
       margin-right:25px;
    }
}

@media only screen and (max-width: 1200px){
    .navbar{
        display:none;
    }
        .xButton{
        display:block;        
        right:10%;                
    }                
}


@media only screen and (max-width: 900px){
    .navigacija{
        /*padding:0 3px;*/
        /*margin-right:30px;*/
        
        
    }
     .atbalstitaji img{
        /*transform:scale(0.6, 0.6);*/
        
    }

}

@media only screen and (max-width: 768px){
    .sparkleLogo .col-md-2{
        width:30%;
    }
    .sparkleLogo .col-md-10{
        width:70%;
    }
    
    .atbalstitaji img{
        /*transform:scale(0.75, 0.75);*/

    }
    

}

@media only screen and (max-width: 768px){
    .grid-containerPictures1{
        display: grid;
        grid-template-columns: 45% 10% 45%;    
   }

        .grid-containerPictures2{
        display: grid;
        grid-template-columns: 45% 5% 5% 45%;
    
}



    .grid-containerPictures1 div:nth-of-type(1) {
        order: 3;
        grid-column: 1 / span 2;        
    }
    
    .grid-containerPictures1 div:nth-of-type(2) {
        order: 4;        
    }   
    .grid-containerPictures1 div:nth-of-type(3) {
        order: 1;
    }
    .grid-containerPictures1 div:nth-of-type(4) {
        order: 2;
        grid-column: 2 / span 3;
    }
    
    .grid-containerPictures2 div:nth-of-type(1) {
        order: 3;
        grid-column: 1 / span 2;        
    }
    
    .grid-containerPictures2 div:nth-of-type(2) {
        order: 4;    
        grid-column: 3 / span 2; 
    }   
    .grid-containerPictures2 div:nth-of-type(3) {
        order: 1;
    }
    .grid-containerPictures2 div:nth-of-type(4) {
        order: 2;
        grid-column: 2 / span 3;
    }
    
    
    .pictureLauma{
        
    }
    
    .pictureBrinumaMeita{
        height:100%;
       
    }
    
    .pictureZanda{
        height:100%;
    }
       
    .pictureSibilla{
        height:100%;
    }
    
    
    .pictureStacked1{
        max-height:200px;
    }
    
    .pictureAnda{
        height:100%;
    }
    
    
    

    .ulLogo4{
        text-align:left;
        margin-left:5%;
        line-height:2.1;
    }
    
    .logoImg{
        transform:scale(0.9,0.9);
    }
    
    
    .ulLogo{
    font-size:12px;
    }
    
    .vt{
        text-align:left;
        margin-left:5%;
    }
    .pp{
        text-align:left;
        margin-left:5%;
    }
    
    .navigacija{
        display:none;
    }
    

    .goldenImg{
        position:relative;
        float:left;       
        transform:scale(0.8,0.8);
        max-width:200px;
    }
    
    .inputLauks1{
        width:90%;
        display:block;   
        height:35px;
    }
    
    #vardsUzvardsInput{
        margin: 0 auto 5% auto;
    }
    
    #epastsInput{
        margin: 0 auto 0 auto;
    }
    
    #inputLauks2{
        height:35px;
    }
    
    #inputLauks2, #inputLauks3{
        width:90%;
        display:block;
        margin: 0 auto 0 auto;
    }
    
    .inputLauks3{
        height:150px;
    }
    
    .text{
        margin-left:30%;
        margin-right:30%;
        
    }
    
    .titlePage{
        font-size:36px;
    }
    
    .button1{
        width:70%;
        height:50px;
        font-size:18px;
    }
    
    .atbalstitaji .col-md-3{
        width:50%;
    }   
       
    .sparkleLogo .col-md-2{
        width:30%;
    }
    .sparkleLogo .col-md-10{
        width:70%;
    }
    
    .ulLink{
        display:none;
    }
    .ulBiedriba{
        display:none;
    }
   .liText{
       padding-bottom:25px;
   }
   .fb, .ig{
       float:left;
       margin-left:5%;
       margin-bottom:2%;
   }
   
   .pp,.vt{
       font-size:11px;
   }
   
   .underInputText{
       margin-left:5%;
       font-size:12px;
   }
   
   .customCheckbox{
       float:right;
       
   }    
   
   .rekviziti{
       display:block;
   }
   
   .title1{
       font-size:18px
       font-weight:bold;
   }
   
   .title2{
       font-size:24px;
       font-weight:bold;
   }
   
   input[type="text"]{
       font-size:14px;
   }
   
   textarea{
       font-size:14px;
   }
   .submitButton{
       margin-top:100px;
       margin-bottom:170px;
   }
   
   .atbalstitajiTeksts p{
       font-size:24px;
   }
   
   .text{
       font-size:12px;
       margin-left:5%;
       margin-right:5%;
   }
   
   .beigas br{
       display:none;
   }
   
   .titlePage{
       margin-top:40px;
   }
   .textSapnis{
       margin-top:30px;
       font-family: 'Montserrat', sans-serif;
       font-size:14px;
       font-weight:500;
       margin-bottom:100px;
   }
   .titleBalloon{
       font-size:18px;
   }

    .textBalloon{
       font-size:12px;
       font-family: 'Montserrat', sans-serif;
       margin-left:10%;
       margin-right:10%;
   }
   .buttonSapnis{
       width:70%;
       margin-top:70px;
       margin-bottom:80px;
   }
   
   #submitMessage2{
       margin-bottom:200px;
       margin-left:10%;
       margin-right:10%;
       line-height:17px;
   }

    .pictureJurisText{
        bottom:-50px;
        font-size:18px;
        margin-left:5%;
        margin-right:5%;
        font-weight:500;
    }
    
    .titleKenLudden, .textKenLudden, .descKenLudden, .arrow1, .arrow2{
        margin-right:5%;
        margin-left:5%;
    }
    
    .textIdeja{
        margin-top:40px;
        margin-bottom:120px;
        font-size:12px;
    }
    
    .textUznemejiem{
        font-size:14px;
        margin-top:40px;
    }
    
    .title2Uznemejiem{
        margin-top:-30px;
        margin-bottom:-25px;
    }
    
    .underInputText{
        margin-top:10px;
        margin-bottom:-10px;
    }
    
    .pictureSun, .pictureCliff, .pictureGlasses{
        float:none;
        display:block;
        margin: 0 auto 0 auto;
        max-width:150px;
        width:100%;
    }
    
    .textSun, .textCliff, .textGlasses{
        margin-left:5%;
        margin-right:5%;
        text-align:center;
    }
    
    .glassesGrid, .sunGrid, .cliffGrid{
        grid-template-columns: 100%;    
   }
    
    .cliffGrid div:nth-of-type(1){
        order:2;
    }
    .cliffGrid div:nth-of-type(2){
        order:1;
    }
    
    .textSun, .textCliff, .textGlasses{
        margin-bottom:100px;
    }
    
    .titleMisija{
        font-size:24px;
    }
    
    .textMisija{
        font-size:18px;
    }
    
    .textOrangeBackground{
        font-size: 18px;
        margin-left:5%;
        margin-right:5%;
        font-weight:500;
    }
    
    .titleSapnusAtlasis{
        font-size:24px;
    }
    
    .textSapnusAtlasis{
        font-size:18px;
        margin-left:5%;
        margin-right:5%;
    }
    
    .title1SapnuBanka{
        margin:1%;
        font-size:18px;
    }
    
    .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:0;
    }
        
    .grid-container .grid-item:nth-of-type(even){
        padding-left:18px;
    }
    .grid-container .grid-item:nth-of-type(odd){
        padding-right:18px;
    }
    
    
    .grid-container img{
        max-width:380px;
        padding-left:7px;
        padding-right:7px;
        padding-bottom:12px;   
    }
    

    .gridContainerFreeSpace{
        display:none;
    }

    .text99Iedvesmas{
        font-size:18px;
        font-weight:700;
        margin-bottom:60px;
    }
    
    #showMoreButton{
        display:block;
    }
    
    .hidden{
    display:none;
    }
    
    .grid-container2{
    grid-template-columns: auto;
    grid-row-gap:30px;
    }
    
    .grid-container2 img{
        max-width:420px;
    }
    
    .pictureDescGridContainer2 p:nth-of-type(1){
    font-size:18px;
    }


    .pictureDescGridContainer2 p:nth-of-type(2){
    font-size:14px;
    }
    
    
    
    
}



